[submodule "vendor/github.com/rails/sprockets"]
	path = vendor/github.com/rails/sprockets
	url = https://github.com/rails/sprockets.git
[submodule "vendor/github.com/sass/sassc-rails"]
	path = vendor/github.com/sass/sassc-rails
	url = https://github.com/sass/sassc-rails.git
[submodule "vendor/github.com/twbs/bootstrap"]
	path = vendor/github.com/twbs/bootstrap
	url = https://github.com/twbs/bootstrap.git
