name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:

    if: github.event.repository.fork == false

    runs-on: ubuntu-latest

    permissions:
      id-token: write
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          rubygems: latest

      - name: Configure trusted publishing credentials
        uses: rubygems/configure-rubygems-credentials@v1.0.0

      - name: Release
        run: rake -f -r bundler/gem_tasks release

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: pkg/*.gem
